<div class="explanation">
  <h1 class="explanation-title">使い方</h1>
  <div class="step-one step">
    <p>地名を検索</p>
  </div>
  <div class="step-two step">
    <p>赤いピンが立ったら目標の場所か確認</p>
  </div>
  <div class="step-three step">
    <p>タイトルとメッセージを記入して投稿</p>
  </div>
  <div class="step-four step">
    <p>赤ピンが青ピンになりリストに追加されます！</p>
  </div>
</div>
