<div class="list-box">
  <div class="title">
    <%= list.title %>
  </div>
  <div class="message">
    <%= list.message %>
  </div>
  <div class="complete">
    <div class="complete-box">
      <%= link_to '完了' %>
    </div>
  </div>
  <div class="time">
    <%= list.created_at %>
  </div>
</div>