<div class="todomaps">
  <div class='map-header'>
    <div class='map-header-title'>
      <p>まっぷの木</p>
    </div>
  </div>
  <form class="search">
      <div class="search-box">
        <input id="address" class="search-address" type="text" name="search" placeholder="地名を検索(例:東京,新宿)">
        <input id="search-btn" class="search-btn" type="submit" name="submit" value="検索">
      </div>
  </form>
  <div class="map">
    <div id="gmap">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
      <script>
        function initMap(){
          let gmap = document.getElementById('gmap');
          let map;
          let tokyo = {lat: 35.681167,lng: 139.767052};

          map = new google.maps.Map(gmap, {
            center: tokyo,
            zoom: 8,
            disableDefaultUI: true,
            zoomControl: true,
            clickableIcons: false
          });
        }

      </script>
    </div>
  </div>
  <div class="list">
    <div class=list-title>
      <h1>リスト一覧</h1>
    </div>
    <div class="list-box">
      <div class="place">
        <p>ラーメン屋</p>
      </div>
      <div class="message">
        <p>あのラーメン屋のチャーハンが食べたい</p>
      </div>
      <div class="complete">
        <div class="complete-box">
          <%= link_to '完了' %>
        </div>
      </div>
      <div class="time">
        <p>2020/11/12 11:30</p>
      </div>
    </div>
    <div class="list-box">
      <div class="place">
        <p>スーパー</p>
      </div>
      <div class="message">
        <p>買うもの<br>
        ・ハム<br>
        ・りんご<br>
        </p>
      </div>
      <div class="complete">
        <div class="complete-box">
          <%= link_to '完了' %>
        </div>
      </div>
      <div class="time">
        <p>2020/11/12 11:30</p>
      </div>
    </div>
  </div>
</div>