<div class="todomaps">
  <div class='map-header'>
    <div class='map-header-title'>
      <p>まっぷの木</p>
    </div>
  </div>
  <div class="search">
    <input id="search-address" class="search-address" type="text"  placeholder="地名を検索(例:東京,新宿)">
    <button id="search-btn" class="search-btn">検索</button>
  </div>
  <div class="map">
    <div id="gmap">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
      <script>
        function initMap(){
          let gmap = document.getElementById("gmap");
          let geocoder = new google.maps.Geocoder();
          let map;
          let tokyo = {lat: 35.681167,lng: 139.767052};

          map = new google.maps.Map(gmap, {
            center: tokyo,
            zoom: 8,
            disableDefaultUI: true,
            zoomControl: true,
            clickableIcons: false
          });

          document.getElementById("search-btn").addEventListener('click',function(){
            geocoder.geocode({
              address: document.getElementById("search-address").value
            },function(results,status){
              if (status !== "OK") {
                alert("Failed:"+status);
                return;
              }

              if(results[0]) {
                new google.maps.Map(gmap,{
                  center: results[0].geometry.location,
                  zoom:14,
                  disableDefaultUI: true,
                  zoomControl: true,
                  clickableIcons: false
                });
              }else{
                alert("結果が見つからないです");
                return;
              }
            });
          });
        }
      </script>
    </div>
  </div>
  <div class="list">
    <div class=list-title>
      <h1>リスト一覧</h1>
    </div>
    <div class="list-box">
      <div class="place">
        <p>ラーメン屋</p>
      </div>
      <div class="message">
        <p>あのラーメン屋のチャーハンが食べたい</p>
      </div>
      <div class="complete">
        <div class="complete-box">
          <%= link_to '完了' %>
        </div>
      </div>
      <div class="time">
        <p>2020/11/12 11:30</p>
      </div>
    </div>
    <div class="list-box">
      <div class="place">
        <p>スーパー</p>
      </div>
      <div class="message">
        <p>買うもの<br>
        ・ハム<br>
        ・りんご<br>
        </p>
      </div>
      <div class="complete">
        <div class="complete-box">
          <%= link_to '完了' %>
        </div>
      </div>
      <div class="time">
        <p>2020/11/12 11:30</p>
      </div>
    </div>
  </div>
</div>