<div class="gmaps">
  <div class='map-header'>
    <div class='map-header-homebtn'>
      <p>マップめも</p>
    </div>
  </div>
  <div class="search">
      <div class="search-box">
        <input class="input" type="text" name="search" placeholder="地名を検索(例:東京　新宿)">
        <input class="btn" type="submit" name="submit" value="検索">
      </div>
  </div>
  <div class="map">
  </div>
  <div class="list">
  </div>
</div>