.explanation{
  width:800px;
  margin:0 auto;
  padding:0 40px;
  background-color:#EEEEEE;
}
.explanation-title{
  font-size:50px;
  border-bottom:2px solid black;
  padding-top:50px;
}
.step{
  margin-top:40px;
  border-bottom:2px solid black;
  text-align:center;
}
.step p{
  margin-bottom:20px;
}
.image{
  margin-bottom:50px;
}
.step-one-image{
  height:100px;
  width: 60%;
}
.step-two-image{
  height:300px;
  width:50%;
}
.step-three-image{
  height:100px;
  width:60%;
}
.step-four{
  border:none;
}
.step-four-image{
  height:300px;
  width:70%;
}