*{
  box-sizing:border-box;
  text-decoration: none;
}
textarea:focus {
  outline: none;
}
input[type="textbox"]:focus {
  outline: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="email"]:focus {
  outline: none;
}

input[type="password"]:focus {
  outline: none;
}
input[type="submit"]:focus {
  outline: none;
}
button:focus {
  outline: none;
}

